@media screen and (max-width: 980px) {
  .common-button {
    font-size: var(--fs-12);
  }

  /* Header style */
  header {
    background: #fff;
    border-bottom: 1px solid var(--color-grad-d);
  }

  header .container {
    grid-template-columns: 1fr 1fr;
  }

  header .container > *:not(.logo, .mobile-btn-wrapper) {
    display: none;
  }

  header .logo {
    justify-content: flex-start;
  }

  header .mobile-btn {
    display: block;
  }

  header .mobile-menus {
    display: block;
    position: absolute;
    top: 102%;
    width: var(--ls-full);
    background: #fff;
    box-shadow: 0 1px 3px var(--color-grad-d);
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  header .mobile-menus .nav-lists {
    display: block;
  }

  header .mobile-menus .nav-lists li {
    text-align: center;
    padding: 0;
  }

  header .mobile-menus .nav-lists li a
  /*,  .info li a */ {
    display: block;
    width: var(--ls-full);
    font-size: var(--fs-16);
    padding: var(--el-medium);
    border-bottom: 1px solid var(--color-grad-d);
  }

  header .mobile-menus .info {
    display: flex;
    justify-content: center;
  }

  /* Landing Section Styles */
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.9;
  }

  #main-section .landing-text-box h1 {
    text-shadow: 1px 1px 1px var(--color-grad-2);
  }

  #main-section .landing-text-box p {
    width: var(--ls-1-2);
  }

  /* Slider Section Styles */

  .slider-section .swiper-slide > div {
    height: 280px;
  }

  .slider-section .slider-text h4 {
    font-size: var(--fs-20);
  }

  .slider-section .slider-nav {
    width: 45px;
    height: 45px;
  }

  .slider-section .slider-nav {
    svg {
      height: 40%;
      width: 40%;
    }
  }
}

@media screen and (max-width: 786px) {
  html {
    font-size: 14px;
  }

  .section {
    padding: var(--el-section-small);
  }

  .container {
    padding: 0 var(--el-medium);
  }

  /* Meet setcion styles */
  .meet-section .meet-wrapper {
    flex-direction: column;
    row-gap: var(--el-wide);
  }

  .meet-section .meet-text-box,
  .meet-section .meet-text-box p,
  .meet-section .meet-image-box {
    width: var(--ls-full);
  }

  /* Featurys Section Styles */
  .feature-section .features {
    flex-direction: column;
    align-items: center;
  }

  .feature-section .feature {
    width: 60%;
  }

  /* Slider Section Styles */

  .slider-section .slider-nav {
    display: none;
  }

  .slider-section .swiper-slide {
    flex-direction: column;
  }

  .slider-section .swiper-slide > div {
    width: 80%;
    margin: auto;
  }

  .slider-section .slider-text {
    text-align: center;
    align-items: center;
  }

  /* Offers Section Styles */
  .offers-section .product-frame {
    width: var(--ls-1-2);
  }
}

@media screen and (max-width: 501px) {
  .section {
    padding: var(--el-section-mobile);
  }

  #main-section .landing-text-box {
    text-align: center;
  }

  #main-section .landing-text-box h1 {
    font-size: 1.8rem;
  }

  #main-section .landing-text-box p {
    width: 80%;
    margin: auto;
  }

  .overlay {
    opacity: 0.7;
  }

  /* Meet SEction Styles */

  .meet-section .meet-text-box p {
    width: var(--ls-full);
    font-size: var(--fs-16);
  }

  .meet-section .meet-image-box {
    column-gap: var(--el-normal);
  }

  .meet-section .meet-text-box span {
    font-size: var(--fs-16);
  }

  .meet-section .meet-left-image {
    row-gap: var(--el-normal);
  }

  /* Features Section Styles */
  .feature-section .feature {
    width: 90%;
  }

  /* Slider Section Styles */
  .slider-section .swiper-slide > div {
    width: 90%;
  }

  /* Offers Section Styles */
  .offers-section .product-frame {
    width: var(--ls-full);
  }
}
